ARC_HTTP=https://rpc.mainnet.arc.io
ARC_HTTP_2=https://rpc.drpc.mainnet.arc.io
ARC_HTTP_3=https://arc-rpc.publicnode.com
ARC_HTTP_4=https://arc.rpc.pinax.network
ARC_WS=wss://rpc.quicknode.mainnet.arc.io
ARC_WS_2=wss://arc-rpc.publicnode.com
ARC_HTTP_SIM=
PRIVATE_KEY=
